<div class="head"> 
    <div class="bar">
      <img src="assets/4.jpg" class="logo" width="100%">
     </div>
     <div >
       <ul>
         <li><a href="dashboard">HOME</a></li>
         <li><a href="courses">COURSES</a></li>
         <li><a href="#mylearning">MY LEARNING</a></li>
         <li><a href="#certificates">CERTIFICATES</a></li>
         <a  class="text1"><input type="search" value="search"></a>
       </ul>
     </div>
   </div> 
<br>
   <div class="courseslist">

    <div class="course1"><br>
        <img src="assets/6.jpg" alt="html">
       <b> <p class="name">HTML</p></b>
        <p>10 hours class</p>
        <div class="button-grid">
            <div>
              <button>Enroll now</button>
            </div>
            <div>
              <button>Details</button>
            </div>  
          </div>
    </div>
    
    <div class="course1"><br>
        <img src="assets/css.jpg" alt="html">
   <b><p class="name">CSS</p></b> 
        <p>15 hours class</p>
        <div class="button-grid">
            <div>
              <button>Enroll now</button>
            </div>
            <div>
              <button>Details</button>
            </div>  
          </div>
    </div>
    
    <div class="course1"><br>
        <img src="assets/js.jpg" alt="html">
        <b><p class="name">HTML</p></b>
        <p>10 hours class</p>
        <div class="button-grid">
            <div>
              <button>Enroll now</button>
            </div>
            <div>
              <button>Details</button>
            </div>  
          </div>
    </div>
    <div class="course1"><br>
        <img src="assets/6.jpg" alt="html">
       <b> <p class="name">HTML</p> </b>
        <p>10 hours class</p>
        <div class="button-grid">
          <div>
            <button>Enroll now</button>
          </div>
          <div>
            <button>Details</button>
          </div>  
        </div>
    </div>
    <div class="course1"><br>
        <img src="assets/6.jpg" alt="html">
       <b> <p class="name">HTML</p></b>
        <p>10 hours class</p>
        <div class="button-grid">
            <div>
              <button>Enroll now</button>
            </div>
            <div>
              <button>Details</button>
            </div>  
          </div>
    </div>
    
   </div>